<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- Logging Configuration -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TBTracing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="TBAuthentication"
			 connectionString="Max Pool Size=50;Data Source=34.152.16.73;Initial Catalog=tb;User ID=sqlserver;Password=admin" providerName="System.Data.SqlClient" />
		<add name="TBConnection"
			 connectionString="Max Pool Size=50;Data Source=34.152.16.73;Initial Catalog=tb;User ID=sqlserver;Password=admin" providerName="System.Data.SqlClient" />
		<add name="TBTracingEntities"
			 connectionString="metadata=res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.csdl|res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.ssdl|res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.152.16.73;initial catalog=tb;persist security info=True;user id=sqlserver;password=admin;MultipleActiveResultSets=True;App=EntityFramework Max Pool Size=50&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="None" />-->
	  
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" name="LGTBCookie"/>
    </authentication>

    <!--<authorization>
      <allow roles="TBAdmin,TBUser"/>
      <deny users="*"/>
    </authorization>
	
    <customErrors defaultRedirect="ErrorPage.aspx" mode="RemoteOnly">
      <error statusCode="500" redirect="ErrorPage.aspx"/>
      <error statusCode="404" redirect="ErrorPage.aspx?notfound=y"/>
    </customErrors>
    -->
    <!--<authentication mode="None" />-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <!-- JH: ADD XSS Validation -->
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TBConnection" applicationName="TBTracing" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="8" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="TBConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <!--
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <! full url when responsemode is Redirect >
      <error statusCode="404" path="/ErrorPage.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/ErrorPage.aspx?notfound=y" responseMode="ExecuteURL"/>
    </httpErrors>
    -->
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".aspx" policy="DisableCache" kernelCachePolicy="DisableCache"/>
      </profiles>
    </caching>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!-- Logging Configuration -->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="TBTracker">
    <listeners>
      <add name="DatabaseTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="TBConnection" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="FullFormat"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Machine: {localMachine}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="FullFormat"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="TBTracker">
        <listeners>
          <add name="DatabaseTraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="LoggingErrorsWarnings">
        <listeners>
          <add name="DatabaseTraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <applicationSettings>
    <TBTracing.My.MySettings>
      <setting name="InternallXSSCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="audit_Login" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="audit_Logout" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="audit_AddEditDemographic" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="audit_AddClient" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="audit_AddEditSkinTest" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="audit_AddEditSputum" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="audit_AddEditCommunication" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="audit_AddEditIGRA" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="audit_AddEditBloodwork" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="audit_AddEditNote" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>dd-MMM-yyyy</value>
      </setting>
      <setting name="audit_AddEditSymptoms" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="audit_AddEditRisks" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="audit_AddEditFollowup" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="audit_AddEditContactTracing" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="defaultStatus" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="activeTBOutcome" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="audit_AddEditOutcome" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="audit_AddEditTreatment" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="audit_AddEditClinic" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ActiveTreatmentStatus" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="reason_for_testing_bloodwork" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="reason_for_testing_igra" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="reason_for_testing_skintest" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="reason_for_testing_sputum" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="reason_for_testing_xray" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="xray_Chest" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="xray_AreaChest" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="xray_AreaChestPortable" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="audit_AddEditXrayImagine" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="RepeatTSTFollowup" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="latentTBOutcome" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="audit_PageView" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LiveTestHeader" serializeAs="String">
        <value>&lt;b&gt;Test Test Test Test Test Test Test&lt;/b&gt;</value>
      </setting>
      <setting name="LiveTestStyle" serializeAs="String">
        <value>hold-transition skin-tb-test sidebar-mini</value>
      </setting>
      <setting name="OtherTestReasonSputum" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="OtherTestReadonXray" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="OtherTestReasonIGRA" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="OtherTestReasonBloodwork" serializeAs="String">
        <value>34</value>
      </setting>
      <setting name="reason_for_testing_diagnosticImage" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="OtherTestReasonDI" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="DefaultProvince" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="transTBOutcome" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="activeTBOutcomearray" serializeAs="String">
        <value>3,6,11,15,16,17,18</value>
      </setting>
    </TBTracing.My.MySettings>
  </applicationSettings>
</configuration>