<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="TBAuthentication"
			 connectionString="Max Pool Size=50;Data Source=34.152.16.73;Initial Catalog=tb;User ID=sqlserver;Password=admin" providerName="System.Data.SqlClient" />
		<add name="TBConnection"
			 connectionString="Max Pool Size=50;Data Source=34.152.16.73;Initial Catalog=tb;User ID=sqlserver;Password=admin" providerName="System.Data.SqlClient" />
		<add name="TBTracingEntities"
			 connectionString="metadata=res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.csdl|res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.ssdl|res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.152.16.73;initial catalog=tb;persist security info=True;user id=sqlserver;password=admin;MultipleActiveResultSets=True;App=EntityFramework Max Pool Size=50&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <applicationSettings>
    <TBTracing.My.MySettings>
      <setting name="LiveTestStyle" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>hold-transition skin-tb-test sidebar-mini</value>
      </setting>
      <setting name="LiveTestHeader" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Test Test Test Test Test Test Test Test Test Test Test Test Test Test</value>
        <!--<value>&lt;b&gt;Test Test Test Test Test Test Test Test Test Test Test Test Test Test&lt;/b&gt;</value>-->
      </setting>
    </TBTracing.My.MySettings>
  </applicationSettings>
</configuration>