<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- LIVE SETTING-->
    <add name="TBAuthentication" 
         connectionString="Data Source=;Initial Catalog=;User ID=;Password=" 
         providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="TBConnection" 
         connectionString="Data Source=;Initial Catalog=;User ID=;Password=" 
         providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="TBTracingEntities" 
         connectionString="metadata=res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.csdl|res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.ssdl|res://*/SRC.DataAccess.EnitityModel.TBTracingCtx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <applicationSettings>
      <TBTracing.My.MySettings>
        <setting name="LiveTestStyle" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <value>hold-transition skin-tb sidebar-mini</value>
        </setting>
        <setting name="LiveTestHeader" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <value></value>
        </setting>
      </TBTracing.My.MySettings>      
  </applicationSettings>

</configuration>