/*
 * Colours: #22898e - Side Menu Background
 *                  - Link Hover
 *          #0d767b - Top Header and Side Menu Header
 *          #035d61 - Side Menu Divider
 *          #2baab1 - Side Menu Non-Active Item
 *                  - Top Header Hover
 *          #ecf0f5 - Main body background
 *          #f5f5f5 - Logo and Breadcrumb Background
 */
.skin-tb a {
  color: #5ea5cf;
}
.skin-tb a:hover, 
.skin-tb a:active, 
.skin-tb a:focus {
  outline: medium none;
  text-decoration: none;
  color: #085b8c;
}

.skin-tb .breadcrumb {
  background-color: #f5f5f5;
  border-bottom: 1px solid #1e77ab;
  color: #777;
}
.skin-tb .breadcrumb a {
  color: #085b8c;
}

.skin-tb .form-control {
    border-color: #bbb;
}

/* ACCORDION PANEL */
.skin-tb .panel-group .panel {
  border: medium none;
  border-radius: 0;
  margin-bottom: 20px;
}
.skin-tb .panel-default > .panel-heading {
  border: medium none;
  border-radius: 0;
  outline: medium none;
  padding: 0;
  width: 100%;
}
.skin-tb .panel-default > .panel-heading + .panel-collapse > .panel-body {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fafafa;
  border-color: -moz-use-text-color #f0f0f0 #f0f0f0;
  border-image: none;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  border-left: 2px solid #bbb;
  border-style: none solid solid;
  border-width: medium 1px 1px;
}
.skin-tb .panel-primary .panel-body {
 border-right: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  border-left: 2px solid #bbb;
}
.skin-tb .panel-heading span,
.skin-tb .panel-heading a  {
  background-color: #777;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  padding: 12px 35px 12px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  font-size: 16px;
}
.skin-tb .panel-heading a.collapsed {
  background-color: #999;
  color: #fff;
}
.skin-tb .panel-heading a:after {
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin-top: -7px;
  position: absolute;
  right: 15px;
  top: 50%;
}
.skin-tb .panel-heading a.collapsed:after {
  content: "\f077";
}
.skin-tb .panel-title a i {
  font-size: 20px;
  padding-right: 10px;
}
.skin-tb .panel-notification-heading a {
  background-color: #517b90;
}
.skin-tb .panel-default > .panel-heading + .panel-collapse > .panel-notification-body {
  background-color: #cbe9fb;
}
.skin-tb .panel-notification-heading a.collapsed {
  background-color: #517b90;
  color: #fff;
}
.skin-tb .panel-disclaimer-heading a {
  background-color: #7e7757;
}
.skin-tb .panel-default > .panel-heading + .panel-collapse > .panel-disclaimer-body {
  background-color: #f7f0ce;
}
.skin-tb .panel-disclaimer-heading a.collapsed {
  background-color: #7e7757;
  color: #fff;
}
.skin-tb .panel-default > .panel-title a.collapsed,
.skin-tb .panel-default > .panel-title a.visited, 
.skin-tb .panel-default > .panel-title a.active, 
.skin-tb .panel-default > .panel-title a.focus {
  color: #fff;
}
.skin-tb .panel-heading a:hover, 
.skin-tb .panel-heading a:active, 
.skin-tb .panel-heading a:focus {
  outline: medium none;
  text-decoration: none;
  color: #dedede;
}


.skin-tb .panel-sub {
  margin-bottom: 0;
}
  .skin-tb .panel-sub .panel-body {
    background: #fff;
    border: 1px solid #bbb;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 0;
  }
.skin-tb .panel-clear {
  margin-bottom: 0;
  box-shadow: none;
  background-color: #f5f5f5
}
  .skin-tb .panel-clear .panel-body {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 0;
  }



.skin-tb .main-header .navbar {
  background-color: #085b8c;
}
.skin-tb .main-header .navbar .nav > li {
  background: #085b8c;
}
.skin-tb .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-tb .main-header .navbar .nav > li > a:hover,
.skin-tb .main-header .navbar .nav > li > a:active,
.skin-tb .main-header .navbar .nav > li > a:focus,
.skin-tb .main-header .navbar .nav .open > a,
.skin-tb .main-header .navbar .nav .open > a:hover,
.skin-tb .main-header .navbar .nav .open > a:focus {
  background:  #5ea5cf; /* rgba(0, 0, 0, 0.1); */ /* #5ea5cf;*/
  color: #f6f6f6;
}
.skin-tb .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-tb .main-header .navbar .sidebar-toggle:hover {
  color: #fff;
  background: #5ea5cf;
}
.skin-tb .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-tb .main-header .navbar .sidebar-toggle:hover {
  background-color: #5ea5cf;
}
.skin-tb .navbar-nav > li > .dropdown-menu {
    border: 1px solid #d2d6de;
    padding-top: 0;
    padding-bottom: 0;
}
.skin-tb .dropdown-menu > .active > a, 
.skin-tb .dropdown-menu > .active > a:hover, 
.skin-tb .dropdown-menu > .active > a:focus {
    color: #085b8c;
    text-decoration: none;
    background-color: #fff;
    outline: 0px none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}
.skin-tb .dropdown-menu > .active > a:hover {
  background: #ECF0F5;
}
@media (max-width: 767px) {
  .skin-tb .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-tb .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-tb .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-tb .main-header .logo {
  background-color: #f5f5f5;
  color: #085b8c;
  border-bottom: 0 solid transparent;
}
.skin-tb .main-header .logo:hover {
  background-color: #fff;
}
.skin-tb .main-header .logo b {
  color: #79a12e;
}
.skin-tb .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-tb .content-header {
  background: transparent;
}
.skin-tb .wrapper,
.skin-tb .main-sidebar,
.skin-tb .left-side {
  background-color: #1e77ab;
}
.skin-tb .user-panel > .info,
.skin-tb .user-panel > .info > a {
  color: #fff;
}
.skin-tb .sidebar-menu > li {
  background: #3c8cbc;
}
.skin-tb .sidebar-menu > li.header {
  color: #fff;
  padding: 6px 15px 6px 18px !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12pt;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #3c8cbc;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
  background: none repeat scroll 0% 0% #1e77ab;
  min-height: 36px; 
}
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    color: #1e77ab;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.00) inset;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.0);
  }
.skin-tb .sidebar-menu > li.nav-divider {
    height: 1rem;
    margin: 0px;
    background: none repeat scroll 0% 0% #3a3a3a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.skin-tb .sidebar-menu > li > a {
  border-left: 5px solid transparent;
}
.skin-tb .sidebar-menu > li:hover > a,
.skin-tb .sidebar-menu > li.active > a {
  color: #fff;
  background: #085b8c;
  border-left-color: #fff; /* 3c8dbc; */
}
.skin-tb .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #3a3a3a;
}
.skin-tb .sidebar a {
  color: #fff;
}
.skin-tb .sidebar a:hover {
  text-decoration: none;
}
.skin-tb .treeview-menu > li > a {
  color: #fff;
}
.skin-tb .treeview-menu > li.active > a,
.skin-tb .treeview-menu > li > a:hover {
  color: #fff;
  background: #262626;
}
.skin-tb .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-tb .sidebar-form input[type="text"],
.skin-tb .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-tb .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-tb .sidebar-form input[type="text"]:focus,
.skin-tb .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #1e77ab;
  color: #666;
}
.skin-tb .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-tb .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-tb.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-tb.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

/* BUTTONS */
.skin-tb .btn {
  color:#fff;
  border:2px solid #fff;
}
.skin-tb .btn:hover {
  color:#7e8c8d;
  border-color:#7e8c8d;
  text-shadow:none;
  background:#fff
}
.skin-tb .btn-primary,
.skin-tb .btn-primary:visited {
  color: #fff;
  background-color: #1e77ab;
  border-color: #fff;
}
.skin-tb .btn-primary:hover,
.skin-tb .btn-primary:active {
  color: #1e77ab;
  background-color: #fff;
  border-color: #1e77ab;
}
.skin-tb .btn-default,
.skin-tb .btn-default:visited {
  color: #fff;
  background-color: #777;
  border-color: #fff;
}
.skin-tb .btn-default:hover,
.skin-tb .btn-default:active {
  color: #777;
  background-color: #fff;
  border-color: #777;
}
.skin-tb .btn-info {
  background: #49AFCD;
}
.skin-tb .btn-info:hover {
  color: #49AFCD;
  border-color: #49AFCD;
}
.skin-tb .btn-success {
  background: #5BB75B;
}
.skin-tb .btn-success:hover {
  color: #5BB75B;
  border-color: #5BB75B;
}
.skin-tb .btn-warning {
  background: #FAA732;
}
.skin-tb .btn-warning:hover {
  color: #FAA732;
  border-color: #FAA732;
}
.skin-tb .btn-danger {
  background: #DA4F49;
}
.skin-tb .btn-danger:hover {
  color: #DA4F49;
  border-color: #DA4F49;
}

/* PANELS */
.skin-tb .panel-default > .panel-heading {
  background: #818181;
  color: #fff;
}

/* TABLES */
.skin-tb .table > thead > tr > th {
    background: #1e77ab;
    color: #fff;
}
.skin-tb .table > thead > tr > th a {
    color: #fff;
}
.skin-tb .table > thead > tr > th a:hover {
    color: #eee;
}
.skin-tb .table  tr {
  border-left: 2px solid #ccc;
}
.skin-tb .table {
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  background: #fff;
}
/* TABS
.nav > li > a.hover {
  color: #fff;
  background: none repeat scroll 0% 0% #1e77ab;
} */
.skin-tb .nav > li > a:hover, 
.skin-tb .nav > li > a:active, 
.skin-tb .nav > li > a:focus {
    color: #fff;
    background: none repeat scroll 0% 0% #085b8c;
}

.skin-tb .input-group .input-group-addon {
    border-radius: 0px;
    border-color: #D2D6DE;
    background-color: #1e77ab;
    color: #fff;
}